*{
	margin: 0;
	padding: 0;
}
.nav_bar{
	
	display: flex;
	justify-content: space-between;
	padding: 15px;
}
.nav_details{
	display: flex;

}
li{
	list-style: none;
}
.link{
	text-decoration: none;
	margin-right: 40px;
	font-size: 22px;
	font-weight: bold;
	color: black;
}
.btn{
	margin-top: -2px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 18px;
	padding-right: 18px;
	background-color: red;
	color: white;
	border: none;
	border-radius: 8px;
	margin-right: 40px;
	font-size: 15px;
	font-weight: bold;
}
.title{
	font-size: 30px;
	
	margin-left: 40px;
}
.link:hover{
	text-decoration: underline;
	color: red;
}
.home{
	display: flex;
}
.my{
	margin-right: 50px;
	margin-left: 25px;
}
.my_details{
	
	width: 40vw;
	margin-left: 185px;
	margin-top: 123px;
}
.image{
	
	width: 50vh;
	margin-left: 60px;
}
.my_image{
	height: 500px;
	width: 350px;
}
.hm_section{
	padding-top: 100px;
	background-color: antiquewhite;
	height: 78vh;
}
.name{
	font-size: 45px;
	font-weight: bold;
	margin-bottom: 12px;
}
.ap{
	color: red;
}
.who{
	font-size: 40px;
	margin-bottom: 12px;
}
.desc{
	font-size: 25px;
}
.btn_grp{
	margin-top: 40px;
	margin-left: 20px;
}
.about_me{
	font-size: 20px;
	
}
.about_me:hover{
	background-color: gray;
	color: black;
}
.hire{
	font-size: 20px;
}
.hire:hover{
	background-color: gray;
	color: black;
}
